@import "tailwindcss";

@theme {
  --font-smooch: "Smooch Sans", sans-serif;
  --font-open: "Open Sans", sans-serif;
}

@layer components {
  .font-smooch-400 {
    font-family: var(--font-smooch);
    font-weight: 400;
  }

  .font-smooch-700 {
    font-family: var(--font-smooch);
    font-weight: 700;
  }

  .font-open-400 {
    font-family: var(--font-open);
    font-weight: 400;
  }
}